.Login-Page {
  text-align: center;
  background-color: #404040;
  height: 100vh;
}

.Field-Container {
  color: #38f000;
  font-family: "Montserrat" !important;
  padding: 25px;
  width: 450px;
  height: 40vh;
  border: #FFFFFF solid 2px;
  background-color:#ffb94d;
  margin-top: 20vh;
  display: inline-block;
  text-align: center;
}
.enterText {
  font-family: "Comic Sans MS", cursive;
  margin-top: 10px;
  font-weight: 900;
  color: #000000;

}

.blankAlert {
  margin-top: 20px;
  font-family: "Comic Sans MS", cursive;
  text-align: left;
  color: #38f000;
  font-weight: 600;
}



