.Login-Page {
  text-align: center;
  background-color: #dddbff;
  height: 100vh;
}

.Field-Container {
  font-family: "Baloo Chettan", cursive;
  padding: 25px;
  width: 400px;
  height: 40vh;
  border-radius: 1rem;
  margin-top: 30vh;
  display: inline-block;
  text-align: center;
  color: #5137e2;
}
.enterText {
  margin-top: 10px;
}

.blankAlert {
  font-family: "Quicksan";
  text-align: left;
  color: #555555;
}
